@page "/lesson"
@using Blazor.Client.Service;
@inject LocalStorageService LocalStorageService;
@inject ApiServices ApiService;
@inject IJSRuntime JsRuntime;
@inject NavigationManager NavigationManager;
<style>

    .content {
        margin-top: 80px;
        margin-bottom: 100px;
    }

    .content-title {
        width: 330px;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
    }

        .content-title h6 {
            padding: 15px 30px;
            border-bottom: 1px solid gray;
            font-size: 24px;
            font-weight: 400;
        }

    .content h1 {
        padding: 34px 30px;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
        width: 330px;
        border-bottom: 1px solid gray;
        font-size: 32px;
    }

    .content__container {
        display: flex;
        gap: 30px;
    }

    .document {
        display: flex;
        align-items: center;
        width: 439px;
        height: 126px;
        background: #F5FCFF;
        justify-content: space-between;
    }

    .document-head {
        color: #000;
        font-family: Formular;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-variant: all-small-caps;
    }

    .document-title {
        color: #8D8D8D;
        font-family: Formular;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-variant: all-small-caps;
    }

    .link {
        color: #4690FF;
        font-family: Formular;
        font-size: 14px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        font-variant: all-small-caps;
    }

    .document-list {
        padding-left: 25px;
    }

    .second-doc {
        padding-right: 30px;
    }

    .video-title {
        margin: 0;
        padding-bottom: 30px;
    }

    .video {
        padding-bottom: 40px;
    }

    .video-text {
        padding-bottom: 16px;
    }

    .text {
        color: #000;
        font-family: Formular;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .video-2 {
        padding-top: 50px;
    }

    .imports {
        padding-top: 90px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .item-button {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button {
        border-radius: 10px;
        background: #35A4D9;
        width: 240px;
        height: 50px;
        color: #fff;
        border: 1px solid white;
        cursor: pointer;
    }

    .second-button {
        border-radius: 10px;
        background: #35A4D9;
        width: 240px;
        height: 50px;
        color: #fff;
        border: 1px solid white;
        cursor: pointer;
    }

    .item-btn {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        margin-left: -100px;
    }

    header {
        background-color: #fff;
    }

    .container-s {
        max-width: 1200px;
        margin: 0 auto;
    }

    .header__container {
        padding: 14px 0;
        display: flex;
        align-items: center;
    }

        .header__container img {
            margin: 0 auto;
        }

    .header__list {
        display: flex;
        gap: 30px;
    }

    .header__auth {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-left: auto;
    }

        .header__auth a {
            cursor: pointer;
        }

    .header__logo {
        display: flex;
        align-items: center;
        margin-right: auto;
        cursor: pointer;
    }

        .header__logo img {
            width: 42px;
            height: 42px;
        }
</style>

<header>
    <div class="container-s">
        <div class="header__container">
            <div class="header__logo">
                <img src="https://devel.prom.uz/upload/organization_logos/ee/6e/ee6e2d1fa54c427cb384776ce3891061.png" alt="">
                <h1>URANUS</h1>
            </div>
            <UserHeader />
        </div>
    </div>
</header>

<section class="content">
    <div class="container-s content__container">
        @if (lessons.Count > 0)
        {
            <div class="over">
                <h1>Содержание</h1>
                <div class="content-title">
                    @foreach (var lesson in lessons)
                    {
                        <h6>@lesson.Title</h6>
                    }
                </div>
            </div>
            <div>
                <div class="video">
                    <h2 class="video-title">@lessons[index].Title</h2>
                    <div>
                        <iframe width="560" height="315" src="@lessons[index].VideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <div>
                    <h2 class="text">Допольнительная информация</h2>
                    <p class="video-text">@lessons[index].Information</p>
                </div>
                <div class="item-button">
                    <button class="button" @onclick="() => ToTest(lessons[index])">Пройти тест</button>
                </div>
                <div class="imports">
                    <div class="document">
                        <div class="document-list">
                            <h2 class="document-head">Название документа</h2>
                            <p class="document-title">Название документа</p>
                            <a href="" class="link">скачать документ</a>
                        </div>
                        <div class="second-doc">
                            <img src="images/Group 370.svg" >
                        </div>
                    </div>
                    <div class="document">
                        <div class="document-list">
                            <h2 class="document-head">Название документа</h2>
                            <p class="document-title">Название документа</p>
                            <a href="" class="link">скачать документ</a>
                        </div>
                        <div class="second-doc">
                            <img src="images/Group 370.svg" >
                        </div>
                    </div>
                    <div class="document">
                        <div class="document-list">
                            <h2 class="document-head">Название документа</h2>
                            <p class="document-title">Название документа</p>
                            <a href="" class="link">скачать документ</a>
                        </div>
                        <div class="second-doc">
                            <img src="images/Group 370.svg" >
                        </div>
                    </div>
                    <div class="document">
                        <div class="document-list">
                            <h2 class="document-head">Название документа</h2>
                            <p class="document-title">Название документа</p>
                            <a href="" class="link">скачать документ</a>
                        </div>
                        <div class="second-doc">
                            <img src="images/Group 370.svg" >
                        </div>
                    </div></div>
                <div class="item-btn">
                    <button class="second-button prev" style="opacity: 0.5" @onclick="Previous">Предыдущий урок</button>
                    <button class="second-button next" @onclick="Next">Следующий урок</button>
                </div>
            </div>
        }
        else
        {
            <p>No Lessons ...</p>
        } 
    </div>
</section>
<Footer />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script>
    function changeOpacity(btn) {
        const prev = document.querySelector('.prev');
        const next = document.querySelector('.next');
        prev.style.opacity = '1';
        next.style.opacity = '1';   
        const button = document.querySelector('.' + btn);
        button.style.opacity = '0.5';

    }

    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    }
</script>
@code {
    private int index = 0;
    List<Blazor.Shared.Lesson> lessons = new List<Blazor.Shared.Lesson>();

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        var courseId = await LocalStorageService.GetCourseId();
        var result = await ApiService.GetLesson(courseId);
        if (result != null)
        {
            lessons = result;
        }
    }

    async void ToTest(Blazor.Shared.Lesson lesson)
    {
        var result = await JsRuntime.InvokeAsync<bool>("confirm", "Your test will start immediately! Are you ready?");
        if (result)
        {
            await JsRuntime.InvokeVoidAsync("sessionStorage.setItem", "lessonId", lesson.Id);
            NavigationManager.NavigateTo(NavigationUrls.ToTest);
        }
        else 
        {
            await JsRuntime.InvokeVoidAsync("alert", "Canceled");
        }
    }
    async void Next()
    {
        if (lessons.Count > 1 && lessons.Count - 1 != index)
        {
            index++;
            await JsRuntime.InvokeVoidAsync("scrollToTop", "");
        }
        if (index == lessons.Count - 1)
        {
            await JsRuntime.InvokeVoidAsync("changeOpacity", "next");
        }
    }

    async void Previous()
    {
        if (index != 0)
        {
            index--;
            await JsRuntime.InvokeVoidAsync("scrollToTop", "");
        }
        if (index == 0)
        {
            await JsRuntime.InvokeVoidAsync("changeOpacity", "prev");
        }
    }
    
}
